<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		DTO 객체는 여기에 아래는 예시
        <typeAlias alias="UserDto" type="com.vegaworks.web.api.user.dto.UserDto"/>
        <typeAlias alias="UserRoleDto" type="com.vegaworks.web.api.user.dto.UserRoleDto"/>
        <typeAlias alias="BoardDto" type="com.vegaworks.web.api.board.dto.BoardDto"/>
   	</typeAliases>
</configuration> -->